extends /layout/layout

block content 
    header.main-header
        div.header-container
            div.filter-container
                form#filter-form(action="/gallery" method="GET")
                    div.filter-group
                        label.header-label(for='department') Departamento:
                        select#department(name='department')
                            option(value='') Seleccionar
                            each department in departments
                                option(value=department.departmentId)= department.displayName
                    div.filter-group
                        label.header-label(for='keyword') Palabra clave:
                        input#keyword(type='text', name='keyword', placeholder='Buscar...')
                    div.filter-group
                        label.header-label(for='location') Localización:
                        select#location(name='location')
                            option(value='') Seleccionar
                            each location in locations  
                                option(value=location.locationId)= location.locationName
                    button.header-btn(type='submit') Filtrar
 
