extends /layout/layout

block content 
    section.no-results
        h1.no-results-title No se encontraron objetos con los filtros aplicados. :/
        p.no-results-p Intenta realizar una nueva búsqueda o modificar los filtros.
        a.no-results-anchor(href="/gallery") Volver a la galería