
div.card
    div.top-info 
        img(src="https://images.metmuseum.org/CRDImages/as/web-large/DP251139.jpg", alt="imagen de pintura")
    div.bottom-info
        p.paint-title 
        p.culture 
        p.dinasty 
    div.btn-container
        button.card-btn   