
div.card
    div.top-info(data-year="1800") 
        img(src="https://images.metmuseum.org/CRDImages/as/web-large/DP251139.jpg", alt="imagen de pintura")
    div.bottom-info
        p.paint-title Quail and Millet
        p.culture Japan
        p.dinasty example
    div.btn-container
        button.card-btn Ver mas  