extends /layout/layout

block content 
    section.main-section
        div.left-info
            h1.main-title Bienvenido a Artify!
            p.main.text Una app desarrollada para ver imagenes del museo de arte Metropolitano.
        div.right-info 
            button.main-btn Veamos!   