:root {
    --bg-color: #1e1e1e; 
    --prm-color: #a4c8e0;   
    --scnd-color: #9a9a9a; 
    --hgh-color: #5c6bc0;    
    --txt-color: #e0e0e0;   
    
    --font-primary: 'Merriweather', serif; 
    --font-secondary: 'Playfair Display', serif; 
  }
  